<section id="portfolio" class="portfolio">
  <div>
    <div class="step">
      <span class="step-number">02</span>
    </div>
    <div>
      <span class="step-title">My recent works</span>
      <h1>Portfolio</h1>
      <!-- <p>
        Hello! I am a software engineer! I can help you build a product, feature or web application. 
        Look through some of my work and experience! If you like what you see and have a project you need coded, 
        don't hesitate and contact me.
      </p>
      <div class="resume">
        <a href="#">
          See my works 
          <span>
            
          </span>
          <a href="https://github.com/maelfosso" target="_blank">
            <img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/github.svg" />
          </a>
          <a href="https://twitter.com/maelfosso" target="_blank">
            <img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/twitter.svg" />
          </a>
          <a href="https://www.linkedin.com/in/mael-fosso-650b6346/" target="_blank">
            <img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/linkedin.svg" />
          </a>
          <a href="https://medium.com/@maelfosso" target="_blank">
            <img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/medium.svg" />
          </a>
        </a>
      </div> -->
    </div>
  </div>
</section>