@font-face {
  font-family: "Playfair Display";
  src: url("/assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins/Poppins-Thin.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1B1B1E;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  
  color: white;
}

h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: normal;
  font-size: 110px;
  line-height: 100%;

  color: #FFFFFF;

  & + p {
    padding-top: 40px;
    font-size: 14px;
    line-height: 27px;

    color: #FFFFFF;
  }
}

.a-wrapper {
  margin-top: 2em;
  display: flex;
  align-items: center;

  * {
    margin-right: 10px;
  }

  a {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #DB4747;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    width: 70px;
    border: 1px white solid;
    display: inline-block;
  }
}

.content {
  width: 80%;
  margin: auto;

  .step-number {
    font-weight: 200;
    font-size: 100px;
    line-height: 80%;

    color: #FFFFFF;

    opacity: 0.2;
  }
  
  .step-title {
    font-size: 12px;
    line-height: 18px;

    color: #FFFFFF;
  }
  
  .about {
    display: flex;
    justify-content: space-between;
    padding-top: 5em;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      background: rgba(34, 176, 125, 0.2);
      width: 47px;
      height: 47px;
      border-radius: 50px;
    }

    .title {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      /* identical to box height */


      color: #FFFFFF;
    }

    article {
      width: 48%;
      margin: auto; 

      &:first-child {
        display: grid;
        row-gap: 24px;
        column-gap: 24px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        &>div {
          display: table-cell;
          padding: 20px;
          background: #212123;
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
          border-radius: 4px;

          ul {
            padding-left: 15px;
            margin-top: 10px;

            li {
              font-size: 14px;
              line-height: 21px;
              letter-spacing: -0.0525em;

              color: #7D7C84;
            }
          }

          .title {
            font-weight: bold;
            font-size: 18px;
            line-height: 27px;
          }

          &.a11 {
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 1;
            grid-column-end: 1;
            
            .icon {
              background: rgba(34, 176, 125, 0.2);
            }
          }
          &.a12 {
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 2;
            grid-column-end: 2;

            .icon {
              position: relative;
              background: rgba(55, 106, 237, 0.2);

              svg {
                position: absolute;
              }
            }
          }
          &.a21 {
            grid-row-start: 2;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 1;

            .icon {
              background: rgba(241, 157, 42, 0.2);
            }
          }
          &.a22 {
            grid-row-start: 2;
            grid-row-end: 2;
            grid-column-start: 2;
            grid-column-end: 2;

            .icon {
              background: rgba(219, 71, 71, 0.2);
            }
          }
        }
      }
    }
  }

  .header, .portfolio {
    padding-top: 5em;

    > div {
      display: flex;
      align-items: baseline;
    }
    
  }

  .header {
    width: 50%;
    margin: auto;
    position: relative;

    .red-ball {
      position: absolute;
      top: 117px;
      right: 50px;
    }
  }

  .portfolio {

    .project {
      padding: 11px;

      .head {

        .title {
          font-size: 60px;
          font-weight: 300;
          line-height: 48px;
          margin-bottom: 34px;
        }

        .tools {

          * {
            margin-right: 20px;
          }

          span {
            display: inline-block;
            font-size: 20px;
            line-height: 16px;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 12px 20px;
            margin-bottom: 5px;
          }
        }
      }

      .details {
        display: flex;
        flex: 1;

        > div {
          flex: 1;
          flex-grow: 1;
        }

        .screenshots {
          flex: 2;

          img {
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
            vertical-align: bottom;
          }
        }

        .description {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 1;
          padding: 0 30px;

          p {
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
            margin-bottom: 5px;
            text-align: justify;
          }

          .links {
            
            display: flex;
            justify-content: space-between;

            a { 
              font-weight: 500;
              font-size: 18px;
              line-height: 27px;
              color: #DB4747;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

nav {
  text-align:center;
  -moz-transform: rotate(90deg) translateX(245px) translateY(0px);
  -webkit-transform: rotate(90deg) translateX(245px) translateY(0px);
  -o-transform: rotate(90deg) translateX(245px) translateY(0px);
  transform: rotate(90deg) translateX(245px) translateY(0px);
  position: absolute;
  right: 40px;

  span {
    color: #fff;
    border-radius: 4px;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
    margin: 5px auto;
    padding: 2px 10px;
    display: inline-block;
  }
  
}

