<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }} | {{ site.description }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="https://scontent-lhr8-1.xx.fbcdn.net/v/t31.0-8/15025538_123475274801161_8727537710103818287_o.jpg?_nc_cat=107&ccb=2&_nc_sid=09cbfe&_nc_ohc=tSw3TQdGJLwAX8Y_PfV&_nc_ht=scontent-lhr8-1.xx&oh=2208e5b6ed1d56ab4be403682990ee2b&oe=5FD091D1">
    <meta property="og:url" content="https://maelfosso.github.io">
    <meta name="twitter:card" content="https://pbs.twimg.com/profile_images/1059986819222257664/mGfRSH3h_400x400.jpg">
    
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="https://scontent-lhr8-1.xx.fbcdn.net/v/t31.0-8/15025538_123475274801161_8727537710103818287_o.jpg?_nc_cat=107&ccb=2&_nc_sid=09cbfe&_nc_ohc=tSw3TQdGJLwAX8Y_PfV&_nc_ht=scontent-lhr8-1.xx&oh=2208e5b6ed1d56ab4be403682990ee2b&oe=5FD091D1">
    <meta name="twitter:card" content="https://pbs.twimg.com/profile_images/1059986819222257664/mGfRSH3h_400x400.jpg">

    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="https://scontent-lhr8-1.xx.fbcdn.net/v/t31.0-8/15025538_123475274801161_8727537710103818287_o.jpg?_nc_cat=107&ccb=2&_nc_sid=09cbfe&_nc_ohc=tSw3TQdGJLwAX8Y_PfV&_nc_ht=scontent-lhr8-1.xx&oh=2208e5b6ed1d56ab4be403682990ee2b&oe=5FD091D1">
    <meta property="og:url" content="https://maelfosso.github.io">

    <!--  Non-Essential, But Recommended -->
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:type" content="portfolio">
    <meta name="twitter:image:alt" content="{{ site.title }}">
    <!--  Non-Essential, But Required for Analytics -->
    <meta property="fb:app_id" content="your_app_id" />
    <meta name="twitter:site" content="@maelfosso">

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
  </head>
  <body>
    <div class="main-wrapper">
      {{ content }}
    </div>
  </body>
</html>